*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    font-family: Arial;
}

.nav-bar{
    background-color: rgb(15, 3, 29);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

span{
    padding-left: 10px;
    padding-top: 5px;
}

.logo{
    display: flex;
    color: #fff;
    font-size: 20px;
    font-weight: 600; 
}

.menu-icon{
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 25px;
}

.nav-links{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
}

.nav-links li a:hover{
    color: orange;
}

/*mobile View*/
@media (max-width: 425px){
    .menu-icon{
        display: block;
    }

    .nav-links{
        display: none;
        flex-direction: row;
        position: absolute;
        top: 50px;
        right: 0px;
        width: 100%;
        background-color: #9166b9;
    }

    .nav-links li{
        text-align: right;
        padding: 5px 15px;
    }

    .nav-links li a{
        font-size: 16px;
    }
}